@model MealPlanViewModel

<h2>Your mealPlan</h2>


<div>
    <table class="table table-striped table-bordered table-dark">
        <tbody>
            <tr>
                <td>Metabolic Data</td>
                <td colspan="2">TDEE: @Model.TDEE kcal </td>
            </tr>
            <tr>
                <td>This Meal Plan</td>
                <td colspan="2">@Model.DailyCalorieAmount kcal</td>
            </tr>
            <tr>
                <td>Macros</td>
                <td colspan="2">Pro:@Model.ProteinAmount g&nbsp;&nbsp;Carb::@Model.CarbsAmount g&nbsp;&nbsp;Fat: @Model.FatAmount g</td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2">Pro:@Model.ProteinPercent %&nbsp;&nbsp;Carb: @Model.CarbsPercent %&nbsp;&nbsp;Fat: @Model.FatPercent %</td>

            </tr>
        </tbody>
    </table>
</div>

@for (int i = 0; i < 7; i++)
{
    <h3 colspan="3" class="text-center">@((DayOfWeek)i)</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Meal</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.MealPlan.MealPlanItems.Where(x => x.DayOfWeek == (DayOfWeek)i))
            {

                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Meal.Name</td>
                    <td class="text-right">
                        @((line.Amount * line.Meal.Calories).ToString())
                    </td>
                    <td>
                        <div class="addToPlan">
                            <p class="button">
                                <a class="btn btn-primary"
                                   asp-controller="MealPlan"
                                   asp-action="RemoveFromMealPlan"
                                   asp-route-dayOfWeek="@line.DayOfWeek"
                                   asp-route-mealId="@line.Meal.MealId">Remove from plan</a>
                            </p>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total calories:</td>
                <td class="text-right">
                    @Model.TotalCalories.ElementAt(i).ToString()
                </td>
            </tr>
        </tfoot>
    </table>


}
<div class="addToPlan">
    <p class="button">
        <a class="btn btn-primary"
           asp-controller="MealPlan"
           asp-action="ClearMealPlan">Remove all from plan</a>
    </p>
</div>


