@model MealPlanViewModel

<h2>Your mealPlan</h2>


<div>
    <table class="table">
        <tbody>
            <tr>
                <td>Metabolic Data</td>
                <td colspan="2">TDEE: @Model.TDEE kcal </td>
            </tr>
            <tr>
                <td>Daily calorie goal:</td>
                <td colspan="2">@Model.DailyCalorieAmount kcal</td>
            </tr>
            <tr>
                <td>Your Ideal Macros:</td>
                <td colspan="2">Pro:@Model.ProteinAmount g&nbsp;&nbsp;Carb::@Model.CarbsAmount g&nbsp;&nbsp;Fat: @Model.FatAmount g</td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2">Pro:@Model.ProteinPercent %&nbsp;&nbsp;Carb: @Model.CarbsPercent %&nbsp;&nbsp;Fat: @Model.FatPercent %</td>

            </tr>
        </tbody>
    </table>
</div>

@for (int i = 0; i < 7; i++)
{
    <h3 colspan="3" class="text-center">@((DayOfWeek)i)</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Meal</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Carbs</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.MealPlan.MealPlanItems.Where(x => x.DayOfWeek == (DayOfWeek)i))
            {

            <tr>
                <td class="text-center">@line.Amount</td>
                <td class="text-left"> <a asp-controller="Meal" asp-action="Details" asp-route-id="@line.Meal.MealId">@line.Meal.Name</a></td>
                <td>@line.Meal.ProteinContent</td>
                <td>@line.Meal.FatContent g</td>
                <td>@line.Meal.CarbohidrateContent g</td>

                <td class="text-right">
                    @((line.Amount * line.Meal.Calories)) kcal
                </td>
                <td>
                    <div class="addToPlan">
                        <p class="button">
                            <a class="btn btn-primary"
                               asp-controller="MealPlan"
                               asp-action="RemoveFromMealPlan"
                               asp-route-dayOfWeek="@line.DayOfWeek"
                               asp-route-mealId="@line.Meal.MealId">Remove from plan</a>
                        </p>
                    </div>
                </td>
            </tr>


            }

        </tbody>
        <tfoot>
            <tr>
                <td>Used calories:</td>
                <td colspan="3">
                    <div id="myProgress">
                        <div style="width:@Math.Round((Model.TotalCalories.ElementAt(i)/(decimal)Model.DailyCalorieAmount * 100))%;" id="myBar"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">Total calories:</td>
                <td class="text-right">
                    @Model.TotalCalories.ElementAt(i).ToString()
                </td>
            </tr>

        </tfoot>
    </table>


}



