@model Meal

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Category</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <h3>@Model.LongDescription</h3>
        <div class="addToPlan">
            <div class="addToPlan">
                <form method="get" asp-controller="MealPlan" asp-action="AddToMealPlan">
                    <select id="Day" name="day">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="0">Sunday</option>
                    </select>
                    <input type="hidden" name="mealId" value="@Model.MealId">
                    <br /><button class="btn btn-success" type="submit">Add to meal plan</button>
                </form>

            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Protein</th>
                    <th>Carbs</th>
                    <th>Fat</th>
                    <th class="text-right">Calories</th>
                </tr>
            </thead>
            <tbody>
                @{double sumkcal = 0;}
                @{double sumProt = 0;}
                @{double sumCarb = 0;}
                @{double sumFat = 0;}
                @foreach (var line in Model.IngredientDetails)
                {
                    @if (@line.Ingredient.Name != null)
                    {
                        <tr>
                            <td class="text-center">@line.Ingredient.Name</td>
                            <td class="text-center">@line.Amount g</td>
                            <td class="text-left">@line.ProteinContent g</td>
                            <td class="text-left">@line.CarbohidrateContent g</td>
                            <td class="text-left">@line.FatContent g</td>
                            <td class="text-right">@line.Calories kcal</td>
                            @{ sumkcal += @line.Calories;}
                            @{ sumProt += @line.ProteinContent;}
                            @{ sumCarb += @line.CarbohidrateContent;}
                            @{ sumFat += @line.FatContent;}
                        </tr>
                    }

                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-lg-center font-weight-bold">Total: </td>
                    <td> @Math.Round(sumProt, 2)  g</td>
                    <td> @Math.Round(sumCarb, 2)  g</td>
                    <td> @Math.Round(sumFat, 2)  g</td>
                    <td class="text-right"> @Math.Round(sumkcal, 2)  kcal</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>