@model Meal

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Category</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <h3>@Model.LongDescription</h3>
        <div class="addToPlan">
            <div class="addToPlan">
                <form method="get" asp-controller="MealPlan" asp-action="AddToMealPlan">
                    <select id="Day" name="day">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="0">Sunday</option>
                    </select>
                    <input type="hidden" name="mealId" value="@Model.MealId">
                    <br /><button class="btn btn-success" type="submit">Add to meal plan</button>
                </form>

            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Protein</th>
                    <th>Carbs</th>
                    <th>Fat</th>
                    <th class="text-right">Calories</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int sum = 0;}
                @foreach (var line in Model.IngredientDetails)
                {
                    @if (@line.Ingredient.Name != null)
                    {
                        <tr>
                            <td class="text-center">@line.Ingredient.Name</td>
                            <td class="text-center">@line.Amount g</td>
                            <td class="text-left">@line.Ingredient.ProteinContent</td>
                            <td class="text-left">@line.Ingredient.CarbohidrateContent</td>
                            <td class="text-left">@line.Ingredient.FatContent</td>
                            <td class="text-right">@line.Ingredient.Calories</td>
                            @{ sum += @line.Ingredient.Calories;}
                        </tr>
                    }

                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total calories:</td>
                    <td class="text-right">
                        @sum  g
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>