@model PersonViewModel


<h2>@Model.Gender.ToString()</h2>
<h2>@Model.Height</h2>
<h2>@Model.SleepDaily</h2>
<h2>@Model.NumOfMealsPerDay</h2>
<h2>@Model.PredictedYearlyMuscleGain</h2>
<h2>@Model.FirstName</h2>
<h2>@Model.LastName</h2>

